*{
    box-sizing: border-box;
    margin: 0 auto;   
}

label{
    width: 100%;
    height: 100px;
    background: rgb(0, 195, 255);
}

.container{
    width: 100%;
    background: lightgray;
}

.box{
    width: 200px;
    height: 200px;
    padding: 200px;
    background: white;
}


.box.orange > i{
    color:orange;
}

.box.blue > i{
    color:blue;
}


.box.green > i{
    color:green;
}